@import '../../../styles/globals.scss';

.container {
	flex: 2 0;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	overflow: auto;
}

@mixin container-size($cols, $rows) {
	grid-template: repeat($rows, 1fr) / repeat($cols, 1fr);

	row-gap: 2vh;
	column-gap: 2vw;
}

.container-mini {
	@include container-size(3, 2);
	& > .button {
		width: 1/3 * 100vw;
	}
}

.container-default {
	@include container-size(5, 3);
	& > .button {
		max-width: 1/5 * 100vw - 5*2vw;
		max-height: 1/3 * 66vh - 3*2vh;
	}
}

.container-large {
	@include container-size(8, 4);
	& > .button {
		width: 1/3 * 100%;
	}
}

@mixin row-pos($row) {
	grid-row: $row / span 1;
}

@mixin col-pos($col) {
	grid-column: $col / span 1;
}

.container {
	.row-1 {@include row-pos(1);}
	.row-2 {@include row-pos(2);}
	.row-3 {@include row-pos(3);}
	.row-4 {@include row-pos(4);}
	.col-1 {@include col-pos(1);}
	.col-2 {@include col-pos(2);}
	.col-3 {@include col-pos(3);}
	.col-4 {@include col-pos(4);}
	.col-5 {@include col-pos(5);}
	.col-6 {@include col-pos(6);}
	.col-7 {@include col-pos(7);}
	.col-8 {@include col-pos(8);}
}

.container {
	& > .button {
		background-color: $dark-3;
		display: flex;
		flex-direction: column;
		align-items: center;

		transition: all .15s ease-in-out;
		border: .2rem solid $dark-3;
		border-radius: 1.5rem;
		
		&:hover {
			border-color: $dark-4;
		}

		&:active {
			background-color: $dark-2;
			border-color: $dark-2;
		}

		& > .icon-canvas {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			overflow: hidden;

			& > .icon {
				max-height: 80%;
				max-width: 80%;
			}
			
		}
		& .text {
			height: 0;
			transform: translateY(.2rem);
		}
		
	}
}