@import "./globals.scss";

.admin-container {
	display: grid;
	grid-template-areas: 
	'vis vis vis vis vis vis vis'
	'vis vis vis vis vis vis vis'
	'btn btn btn btn btn btn btn'
	;

	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;


}