
/* colors */
$dark-0: rgb(20, 20, 20);
$dark-1: rgb(30, 30, 30);
$dark-2: rgb(40, 40, 40);
$dark-3: rgb(50, 50, 50);
$dark-4: rgb(60, 60, 60);
$dark-5: rgb(70, 70, 70);
$dark-6: rgb(80, 80, 80);

$blur-color: rgba(30, 30, 30, .3)